---
---
@charset "utf-8";


// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

.profile img {
  max-width: 200px;
  transform: scale(1.3);   /* 10% zoom */
  object-fit: cover;       /* avoids distortion */
}

/* Force profile image into a perfect circle */
/*
.profile img {
  width: 200px;       
  height: 200px;      
  object-fit: cover;   
  border-radius: 50%;  
}
*/

.profile .more-info {
  font-family: inherit;
}





